@use "@/assets/variables.scss" as var;

.form-container {
    background-color: var.$primary-color;
    color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 100px;

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        section {
            p {
                font-weight: 300;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .error {
                color: darken(red, 5%);
            }
        }

        input {
            border: none;
            padding: 10px;
            padding-top: 13px;
            padding-bottom: 13px;
            border-radius: 5px;
            font-size: 16px;
            width: 65%;
            color: black;
        }

        label {
            font-size: 25px;
            font-weight: 400;
        }

        input[type=submit],
        button[type=submit] {
            background-color: var.$accent-color;
            color: white;
            border: none;
            width: 15rem;
            font-size: 25px;
            border-radius: 100px;

            display: flex;
            align-items: center;
            gap: 0.7rem;

            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
        }

        .row-flex {
            display: flex;
            flex-direction: row;
            position: relative;

            p {
                position: absolute;
                left: -25px;
                font-size: 20px;
                top: 50%;
            }
        }

        textarea {
            border: none;
            padding: 10px;
            border-radius: 5px;
            resize: none;
            color: black;


            padding: 10px;
            padding-top: 13px;
            padding-bottom: 13px;
            font-size: 16px;
        }
    }
}